
.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

input[type='number'] {
    -moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/** header realted css **/
.header {
    color: white;
}

.curosr-pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.word-wrap {
    word-wrap: break-word;
}

.small-font {
    font-size: 0.8em;
}

md-input-container {
    margin: 0px 0px !important;
}

#productContainer {
    margin-top: 1em;
}

.new-order-buyer-container {
    margin: 0em 0.5em;
    padding: 0.5em 0.5em;
}

/** ngProgress loader css*/
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
/** end ngProgress loader css*/
