<md-dialog  ng-cloak onLoad="hideLoader()">
    <form name="makePaymentForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex class="popup-title">Create Seller Payment</h2>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <svg fill="#fff" height="36" viewBox="0 0 24 24" width="36" >
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <!-- <pre>{{sellerpayment}}</pre> -->
            <div layout="row" layout-padding>
                <div layout="column"  flex >
                    <md-input-container>
                        <label>Suborder ID</label>
                        <input type="number" data-ng-model="sellerpayment.suborderID" ng-required="true" />
                    </md-input-container>
                    <md-input-container style="padding-bottom: 25px;">
                        <label>Payment Method</label>
                      <md-select data-ng-model="sellerpayment.payment_method">
                          <md-option ng-repeat="p in SellerPaymentMethod" value="{{p.value}}">
                              {{p.display_value}}
                          </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Reference No.</label>
                        <input type="text" data-ng-model="sellerpayment.reference_number" ng-required="true" />
                    </md-input-container> 
                    <md-input-container>
                        <label>Details</label>
                        <input type="text" data-ng-model="sellerpayment.details"/>
                    </md-input-container> 
                </div>
                <div layout="column"  flex>

                    <md-input-container>

                        <label>Payment Date</label>
                        <input type="date"  ng-required="true" data-ng-model="paymentDate"/>
                    </md-input-container>
                    <md-input-container>

                        <label>Payment Time</label>
                        <input type="time"  ng-required="true" data-ng-model="paymentTime"/>
                    </md-input-container> 

                    
                    <md-input-container>
                        <label>Payment Value</label>
                        <input type="number" data-ng-model="sellerpayment.payment_value" ng-required="true" />
                    </md-input-container>


                </div>
                
                
            </div>     
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <div flex></div>
          <md-button  class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
            Cancel
        </md-button>

        <md-button type="submit" class="md-raised md-primary" ng-disabled="!makePaymentForm.$valid " ng-click="createPayment()" style="margin-right:20px;">
            Done
        </md-button>
        <div flex></div>
    </md-dialog-actions>
</form>
</md-dialog>
