<md-dialog  ng-cloak onLoad="hideLoader()">
    <form name="confirmDeliveryForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex class="popup-title">Buyer payment</h2>

                <md-button class="md-icon-button" ng-click="cancel()">
                <svg fill="#fff" height="36" viewBox="0 0 24 24" width="36" >
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="row" layout-padding>
                <div layout="column"  flex>
                    <md-input-container>
                        <label>Order ID</label>
                        <input type="number" data-ng-model="paymentData.orderID" ng-required="true" />
                    </md-input-container>
                    
                    <md-input-container>
                        <label>Reference no.</label>
                        <input type="number" data-ng-model="paymentData.reference_number" ng-required="true" />
                    </md-input-container> 
                    <md-input-container>
                        <label>Payment Method</label>
                        <input type="text" data-ng-model="paymentData.payment_method" ng-required="true" />
                    </md-input-container>
                   
                     <div ng-cloak>
                        <label class="md-small card-item-title">Payment Time</label>
                        <md-datepicker ng-model="" md-placeholder="Invoice Date">
                        </md-datepicker>
                    </div> 
                    


                </div>
                <div layout="column"  flex>
                    <md-input-container>
                        <label>Payment Value</label>
                        <input type="number" data-ng-model="paymentData.payment_value" ng-required="true" />
                    </md-input-container> 
                    <md-input-container>
                        <label>Remarks</label>
                        <input type="text" data-ng-model="paymentData.details" ng-required="true" />
                    </md-input-container> 
                    <md-checkbox class="md-small card-item-title" ng-true-value = "1" ng-false-value = "0" data-ng-model="paymentData.fully_paid">Fully Paid</md-checkbox>
                </div>
            </div>     
        </md-dialog-content>
        <md-dialog-actions layout="row">
          <div flex></div>
          <md-button  class="md-raised md-warn" ng-click="cancel()" style="margin-right:20px;">
            Cancel
        </md-button>

        <md-button type="submit" class="md-raised md-primary" ng-click="postPayment()" style="margin-right:20px;">
            Done
        </md-button>
        <div flex></div>
    </md-dialog-actions>
</form>
</md-dialog>
