<div layout="row" flex="30" layout-wrap layout-padding>
    <div flex="100" layout="row" layout-wrap>
        <span flex="100" class="small-font secondary-text-color">Name</span>
        <span flex="100" class="bold">{{product.item.name}}</span>
    </div>
    <div flex="100" layout="row" layout-wrap>
        <div layout="row" layout-wrap flex="75">
            <span flex="100" class="small-font secondary-text-color">Catalog No.</span>
            <span flex="100" class="bold">{{product.item.details.seller_catalog_number}}</span>
        </div>
        <div layout="row" layout-wrap flex="25">
            <span flex="100" class="small-font secondary-text-color">Pcs Per Lot</span>
            <span flex="100" class="bold">{{product.item.lot_size}}</span>
        </div>
    </div>
</div>

<md-divider></md-divider>

<div flex="20" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Pcs To Sell</label>
            <input type="number" data-ng-model="product.orderDetail.pieces" required />
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Price Per Pcs</span>
        <span flex="100" class="bold">{{product.item.price_per_unit}}</span>
    </div>
</div>

<md-divider></md-divider>

<div flex="20" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Negotiated Price</label>
            <input type="number" data-ng-model="product.orderDetail.edited_price_per_piece" required />
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Weight</span>
        <span flex="100" class="bold">{{product.item.details.weight_per_unit*product.orderDetail.pieces}} gms</span>
    </div>
</div>

<md-divider></md-divider>

<div flex="20" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Remarks</label>
            <textarea data-ng-model="product.orderDetail.remarks" required></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Subtotal</span>
        <span flex="100" class="bold">Rs. {{product.orderDetail.edited_price_per_piece*product.orderDetail.pieces}}</span>
    </div>
</div>
