<div layout="row" flex="20" style="max-width: 105px;max-height: 140px;">
    <img ng-src="{{product.item.imageUrl}}" width="100" />
</div>

<div layout="row" flex="30" layout-wrap layout-padding>
    <div flex="100" layout="row" layout-wrap>
        <span flex="100" class="small-font secondary-text-color">Name</span>
        <a ng-href="/products/{{product.ID}}" target="_blank" flex="100" class="bold link">{{product.item.name}}</a>
    </div>
    <div flex="100" layout="row" layout-wrap>
        <div layout="row" layout-wrap flex="75">
            <span flex="100" class="small-font secondary-text-color">Catalog No.</span>
            <span flex="100" class="bold">{{product.item.details.seller_catalog_number}}</span>
        </div>
        <div layout="row" layout-wrap flex="25">
            <span flex="100" class="small-font secondary-text-color">Pcs Per Lot</span>
            <span flex="100" class="bold">{{product.item.lot_size}}</span>
        </div>
    </div>
</div>

<md-divider></md-divider>

<div flex="15" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Pcs To Sell</label>
            <input type="text" ng-model="product.orderDetail.pieces" min=0 required ng-disabled="product.disable" />
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Price Per Pcs</span>
        <span flex="100" class="bold">{{product.price_to_show}}</span>
    </div>
</div>

<md-divider></md-divider>

<div flex="20" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Negotiated Price / Pcs</label>
            <input type="text" ng-model="product.orderDetail.edited_price_per_piece" required ng-disabled="product.disable" />
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Weight</span>
        <span flex="100" class="bold">{{(product.item.details.weight_per_unit+50)*product.orderDetail.pieces}} gms</span>
    </div>
</div>

<md-divider></md-divider>

<div flex="15" layout="row" layout-wrap layout-padding>
    <div layout="row" layout-wrap flex="100">
        <md-input-container>
            <label>Remarks</label>
            <textarea ng-model="product.orderDetail.remarks" required ng-disabled="product.disable"></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-wrap flex="100">
        <span flex="100" class="small-font secondary-text-color">Subtotal</span>
        <span flex="100" class="bold">Rs. {{product.orderDetail.edited_price_per_piece*product.orderDetail.pieces}}</span>
    </div>
</div>

<div layout="row" flex="5" layout-wrap layout-padding layout-align="left center">
    <div layout="row" flex="100" layout-align="left center">
        <md-icon ng-click="selectProduct()" class="cursor-pointer" ng-disabled="product.disable">
            <svg style="width:35px;height:35px" viewBox="0 0 35 35">
                <path fill="#FF5722" d="M10,17L5,12L6.41,10.58L10,14.17L17.59,6.58L19,8M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
            </svg>
            <md-tooltip md-direction="top">Select this product</md-tooltip>
        </md-icon>
    </div>
    <div layout="row" flex="100" layout-align="left center">
        <md-icon ng-click="editProduct()" class="cursor-pointer">
            <svg style="width:35px;height:35px" viewBox="0 0 35 35">
                <path fill="#FF5722" d="M21.7,13.35L20.7,14.35L18.65,12.3L19.65,11.3C19.86,11.08 20.21,11.08 20.42,11.3L21.7,12.58C21.92,12.79 21.92,13.14 21.7,13.35M12,18.94L18.07,12.88L20.12,14.93L14.06,21H12V18.94M4,2H18A2,2 0 0,1 20,4V8.17L16.17,12H12V16.17L10.17,18H4A2,2 0 0,1 2,16V4A2,2 0 0,1 4,2M4,6V10H10V6H4M12,6V10H18V6H12M4,12V16H10V12H4Z" />
            </svg>
            <md-tooltip md-direction="left">Edit Details</md-tooltip>
        </md-icon>
    </div>
    <div layout="row" flex="100" layout-align="left center">
        <md-icon ng-click="editProduct(-1)" class="cursor-pointer">
            <svg style="width:35px;height:35px" viewBox="0 0 35 35">
                <path fill="#FF5722" d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
            </svg>
            <md-tooltip md-direction="bottom">Remove this product</md-tooltip>
        </md-icon>
    </div>
</div>
