<div layout="row"  layout-margin>

    <md-button class="md-fab md-mini" aria-label="go back" data-ng-href="/leads/buyerLeads">
        <md-icon>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#fff" d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z" />
            </svg>
        </md-icon>
        <md-tooltip md-direction="right">back</md-tooltip>
    </md-button>
    <div flex></div>
    <md-button class="md-raised md-primary" aria-label="save" data-ng-click="changeLeads($event, 'PUT')">
        <span>Save</span>
        <md-tooltip md-direction="right">save the changes</md-tooltip>
    </md-button>
    <div flex></div>
    <md-button class="md-raised md-warn" aria-label="reset" data-ng-click="reset()">
        <span>Reset</span>
        <md-tooltip md-direction="left">reset the changes</md-tooltip>
    </md-button>
    <div flex></div>
</div>
 <div layout="row" layout-align="end center" layout-margin flex="100" class="md-subhead">
        <span class="bold">Created At :</span> {{data.lead.created_at | date:'MMM dd,yyyy h:mma':'+0530'}}
    </div>
<div layout="row" layout-align="space-around">
    <div layout="column" ng-cloak flex="40" layout-margin>
        <div class="md-title" ><h3>Details</h3></div>
        
        <md-input-container>
            <label>Name</label>
            <input type="text" data-ng-model="data.lead.name" ng-required="true" />
        </md-input-container>
        <md-input-container>
            <label>Mobile Number</label>
            <input type="text" data-ng-model="data.lead.mobile_number" ng-required="true" />
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input type="email" data-ng-model="data.lead.email" ng-required="true" />
        </md-input-container> 
         <md-input-container>
          <label>Comments</label>
          <textarea data-ng-model="data.lead.comments" md-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>
         <md-switch data-ng-model="data.lead.status.value"  ng-true-value="1" ng-false-value="0" data-ng-change="onChange()">Status : {{data.lead.status.display_value}}</md-switch>
         </div>
         <div layout="column" ng-cloak flex="40" layout-margin ng-if="data.lead.category!=null">
             <div class="md-title" ><h3>Category Details</h3></div>
            
            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="data.lead.category.name" ng-required="true" />
            </md-input-container>
            <md-input-container>
                <label>Category ID</label>
                <input type="text" data-ng-model="data.lead.category.categoryID" ng-required="true" />
            </md-input-container>
            <div layout="row" layout-align="center">
            <a data-ng-href="http://www.wholdus.com/{{data.lead.category.url}}" target="_blank">
            <md-button class="md-primary md-raised">View on Website</md-button></a>
            </div>
        </div>
    
    <div layout="column" ng-cloak flex="40" layout-margin ng-if="data.lead.product!=null">
            
             <div class="md-title" ><h3>Product Details</h3></div>
            
            <md-input-container>
                <label>Name</label>
                <input type="text" data-ng-model="data.lead.product.name" ng-required="true" />
            </md-input-container>
             <md-input-container>
                <label>Seller Name</label>
                <input type="text" data-ng-model="data.lead.product.seller.name" ng-required="true" />
            </md-input-container>
            <md-input-container>
                <label>Product ID</label>
                <input type="text" data-ng-model="data.lead.product.productID" ng-required="true" />
            </md-input-container>
            <div layout="row">
            <md-input-container>
                <label>Price per unit</label>
                <input type="text" data-ng-model="data.lead.product.price_per_unit" ng-required="true" />
            </md-input-container>       
            <md-input-container>
                <label>Minimum price per unit</label>
                <input type="text" data-ng-model="data.lead.product.min_price_per_unit" ng-required="true" />
            </md-input-container>    
            <md-input-container>
                <label>Lot size</label>
                <input type="text" data-ng-model="data.lead.product.lot_size" ng-required="true" />
            </md-input-container>
            </div>     
            <div layout="row" layout-align="center">
            <a data-ng-href="products/{{data.lead.product.productID}}" target="_blank">
            <md-button class="md-primary md-raised">View on Admin</md-button></a>
            <a data-ng-href="http://www.wholdus.com/{{data.lead.product.url}}" target="_blank">
            <md-button class="md-primary md-raised">View on Website</md-button></a>

            </div>
        
    </div>
  
</div>    
