<div layout="row" layout-align="center start" flex="100">
    <h2>Buyers</h2>
</div>
<div layout="row" flex  layout-align="space-around center">
    <div layout="row" flex="33" layout-align="center">
        <md-button data-ng-click="updateBuyerInterest()" class="md-warn md-raised" data-ng-disabled="true">Update Buyer Interest</md-button>
    </div>
    <div layout="row" flex="33" layout-align="center">
        <span><span class="bold small-font">Total Buyers:</span> {{data.buyers.length}}</span>
    </div>
    <div layout="row" flex="33" layout-align="center">
        <md-button data-ng-href = "/users/new-buyer" class="md-warn md-raised">Create buyer</md-button>
    </div>
</div>
<div layout="row" layout-wrap layout-margin layout-align="space-around start">
    <div flex="45" md-whiteframe="4dp" data-ng-repeat="b in data.buyers" layout-padding>
        <div layout="row" layout-align="start center">
            <span style="margin-right:5px">{{b.buyerID}}</span>
            <span class="bold">{{b.company_name}}</span>
            <span flex></span>
            <!-- <md-button class="md-warn" data-ng-href="users/sellers/{{s.sellerID}}">view</md-button> -->
            <span>
            <a data-ng-href="/new-order/?buyerID={{b.buyerID}}">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#FF5722" d="M18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5M19.5,9.5L21.46,12H17V9.5M6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5M20,8H17V4H3C1.89,4 1,4.89 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8Z" />
</svg>
                <md-tooltip md-direction="top">Place order</md-tooltip>
            </a></span>&nbsp;&nbsp;&nbsp;
            <span><a data-ng-href="users/buyers/{{b.buyerID}}">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FF5722" d="M4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H16L12,22L8,18H4A2,2 0 0,1 2,16V4A2,2 0 0,1 4,2M18,14V12H12.5L10.5,14H18M6,14H8.5L15.35,7.12C15.55,6.93 15.55,6.61 15.35,6.41L13.59,4.65C13.39,4.45 13.07,4.45 12.88,4.65L6,11.53V14Z" />
                </svg>
                <md-tooltip md-direction="top">view more</md-tooltip>
            </a>
            </span>
        </div>
        <div layout="row" layout-align="start center" class="small-font">
            <span>{{b.name}}</span>
            <span flex></span>
            <span class="bold">{{b.mobile_number}}</span>
            <span flex></span>
            <span class="word-wrap bold">{{b.email}}</span>
        </div>
    </div>
</div>
