<div layout="row" flex>
	<div flex="25">
		<div
    class="md-sidenav-left"
    md-component-id="sidenav"
    md-whiteframe="4"
    flex
    >
        <md-list-item data-ng-repeat="item in items" flex layout-margin>
            <md-button data-ng-href="{{item.url}}" ng-click="sidenavClicked()" layout-margin flex>
                {{item.name}}
            </md-button>
        </md-list-item>
   
</div>
	</div>

<div flex="75" class="container">
	<div layout ="row" flex layout-margin layout-align ="start">
		<md-button flex="100" class ="md-raised md-warn" layout="row" layout-align="start">Dashboard</md-button>
	</div>
	<div layout="column" layout-align="space-around">
		<div layout="row" flex layout-padding layout-align="space-around center">
			<div layout="column" layout-padding flex="45" md-whiteframe="2dp" class="dash-card">
				<img src="http://traffic.alexa.com/graph?&amp;w=400&amp;h=220&amp;o=f&amp;c=1&amp;y=t&amp;b=ffffff&amp;r=6m&amp;u=wholdus.com&amp;" />
				<br>
				<md-divider></md-divider>
				<img src="http://traffic.alexa.com/graph?&amp;w=400&amp;h=220&amp;o=f&amp;c=1&amp;y=r&amp;b=ffffff&amp;r=6m&amp;u=wholdus.com&amp;" />
			</div>
			<div layout="column" flex= "50" md-whiteframe="2dp" class="dash-card">
				<h3>New Orders</h3>
				<md-divider></md-divider>
				<div layout="column" flex data-ng-repeat="o in data.orders" ng-if="$index < 5">
					<a href="/orders/{{o.orderID}}"><div layout="row" layout-padding layout-align="start center">
						<div style="padding:0">{{o.orderID}}</div>
						<md-divider></md-divider>
						<div flex="45">{{o.buyer.name}}</div>
						<div flex="50">{{o.buyer.company_name}}</div>
						
					</div></a>
					<md-divider></md-divider>
				</div>
			</div>
		</div>
		<div layout="row" flex layout-padding layout-align="space-around center">
			<div layout="column" flex="45" md-whiteframe="2dp" class="dash-card">
				<h3>New Buyers</h3>
				<md-divider></md-divider>
				<div layout="column" flex data-ng-repeat="b in data.buyers.slice().reverse()" ng-if="$index < 5">
					<a href="/users/buyers/{{b.buyerID}}"><div layout="row" layout-padding layout-align="start center">
						<div style="padding:0">{{b.buyerID}}</div>
						<md-divider></md-divider>
						<div flex="45">{{b.name}}</div>
						<div flex="50">{{b.company_name}}</div>
					</div></a>
					<md-divider></md-divider>
				</div>
			</div>
			<div layout="column" flex= "50" md-whiteframe="2dp" class="dash-card">
				<h3>New Sellers</h3>
				<md-divider></md-divider>
				<div layout="column" flex data-ng-repeat="s in data.sellers.slice().reverse()" ng-if="$index < 5">
					<a href="/users/sellers/{{s.sellerID}}"><div layout="row" layout-padding layout-align="start center">
						<div style="padding:0">{{s.sellerID}}</div>
						<md-divider></md-divider>
						<div flex="45">{{s.name}}</div>
						<div flex="50">{{s.company_name}}</div>
						
					</div></a>
					<md-divider></md-divider>
				</div>
			</div>
		</div>
	</div>
</div>
</div>