
<div layout="row" flex>
	<div flex="25">
		<div class="md-sidenav-left" md-component-id="sidenav" md-whiteframe="4" flex>

			<md-list>
				<md-list-item data-ng-repeat="item in items" flex>
					<md-button data-ng-href="{{item.url}}" ng-click="sidenavClicked()" flex>
						{{item.name}}
					</md-button>
				</md-list-item>
			</md-list>
		</div>
	</div>

	<div flex="75" class="container">
		<div layout ="row" flex layout-margin layout-align ="start">
			<md-toolbar style="min-height:30px; font-size:14px; letter-spacing:1px;" flex="100" layout-padding class ="md-warn md-whiteframe-2dp" layout="row" layout-align="start"><span>DASHBOARD</span></md-toolbar>
		</div>
		<div layout="column" layout-align="space-around" layout-margin>
			<div layout="row" flex layout-padding layout-align="space-around">
				<div layout="column" layout-padding flex="45" md-whiteframe="2dp">
					<!-- <div layout="row" layout-align="center">
					<img src="http://traffic.alexa.com/graph?&amp;w=400&amp;h=220&amp;o=f&amp;c=1&amp;y=t&amp;b=ffffff&amp;r=6m&amp;u=wholdus.com&amp;" />
					</div> -->
					<!-- <div>
					<a href="http://www.alexa.com/siteinfo/wholdus.com" rel="nofollow" target="_blank"><script src="http://xslt.alexa.com/site_stats/js/t/a?url=wholdus.com" type="text/javascript"></script></a>
					</div> -->
					<div layout="row" layout-align="center">
					<img src="http://traffic.alexa.com/graph?&amp;w=400&amp;h=220&amp;o=f&amp;c=1&amp;y=r&amp;b=ffffff&amp;r=6m&amp;u=wholdus.com&amp;" />
					</div>
				</div>
				<div layout="column" flex= "45" md-whiteframe="2dp" class="dash-card">
				<h3><svg style="width:18.5px;height:18.5px" viewBox="0 0 20 20">
						<path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
					</svg>&nbsp;&nbsp;New Buyer Leads</h3>
				<md-divider></md-divider>
				<div layout="column" flex data-ng-repeat="bl in data.buyerLeads" ng-if="$index < 5">
					<a  href="/leads/buyerLeads/{{bl.buyerleadID}}" target="_blank">
					<div layout="row" layout-padding layout-align="start center">
						<div style="padding:0">{{bl.buyerleadID}}</div>
						<md-divider></md-divider>
						<div flex="40">{{bl.name}}</div>
						<div flex="55">{{bl.mobile_number}}</div>
					</div>
					</a>
				<md-divider></md-divider>
				</div>
					<div layout="row" layout-align="center center" layout-padding ng-if="data.buyerLeads.length==0" class="message-grey">No new Buyer Leads</div>
				</div>
			</div>
			<div layout="row" flex="100" layout-wrap layout-padding layout-margin layout-align="space-around">
				<div layout="column" flex="45" md-whiteframe="2dp" class="dash-card">
					<h3><svg style="width:18.5px;height:18.5px" viewBox="0 0 20 20">
						<path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
					</svg>&nbsp;&nbsp;New Contactus Leads</h3>
					<md-divider></md-divider>
					<div layout="column" flex data-ng-repeat="cl in data.contactusLeads" ng-if="$index < 5">
						<a target="_blank" href="leads/contactusLeads/{{cl.contactusleadID}}">
						<div layout="row" layout-padding layout-align="start center">
							<div style="padding:0">{{cl.contactusleadID}}</div>
							<md-divider></md-divider>
							<div flex="45">{{cl.mobile_number}}</div>
							<div flex="50">{{cl.email}}</div>
						</div></a>
						<md-divider></md-divider>
					</div>
					<div layout="row" layout-align="center center" layout-padding ng-if="data.contactusLeads.length==0" class="message-grey">No new Contactus Leads</div>
				</div>
				<div layout="column" flex="45" md-whiteframe="2dp" class="dash-card">
					<h3><svg style="width:18.5px;height:18.5px" viewBox="0 0 20 20">
						<path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
					</svg>&nbsp;&nbsp;New Seller Leads</h3>
					<md-divider></md-divider>
					<div layout="column" flex data-ng-repeat="sl in data.sellerLeads" ng-if="$index < 5">
						<a target="_blank" href="leads/sellerLeads/{{sl.sellerleadID}}"><div layout="row" layout-padding layout-align="start center">
							<div style="padding:0">{{sl.sellerleadID}}</div>
							<md-divider></md-divider>
							<div flex="45">{{sl.company_name}}</div>
							<div flex="50">{{sl.mobile_number}}</div>
						</div></a>
						<md-divider></md-divider>

					</div>
					<div layout="row" layout-align="center center" layout-padding ng-if="data.sellerLeads.length==0" class="message-grey">No new Seller Leads</div>
				</div>
			
				<div layout="column" flex="45" md-whiteframe="2dp" class="dash-card">
					<h3><svg style="width:18.5px;height:18.5px" viewBox="0 0 20 20">
						<path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
					</svg>&nbsp;&nbsp;New Buyers</h3>
					<md-divider></md-divider>
					<div layout="column" flex data-ng-repeat="b in data.buyers.slice().reverse()" ng-if="$index < 5">
						<a target="_blank" href="/users/buyers/{{b.buyerID}}"><div layout="row" layout-padding layout-align="start center">
							<div style="padding:0">{{b.buyerID}}</div>
							<md-divider></md-divider>
							<div flex="45">{{b.name}}</div>
							<div flex="50">{{b.company_name}}</div>
						</div></a>
						<md-divider></md-divider>
					</div>
				</div>
				<div layout="column" flex= "45" md-whiteframe="2dp" class="dash-card">
					<h3><svg style="width:18.5px;height:18.5px" viewBox="0 0 20 20">
						<path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
					</svg>&nbsp;&nbsp;New Sellers</h3>
					<md-divider></md-divider>
					<div layout="column" flex data-ng-repeat="s in data.sellers.slice().reverse()" ng-if="$index < 5">
						<a target="_blank" href="/users/sellers/{{s.sellerID}}"><div layout="row" layout-padding layout-align="start center">
							<div style="padding:0">{{s.sellerID}}</div>
							<md-divider></md-divider>
							<div flex="45">{{s.name}}</div>
							<div flex="50">{{s.company_name}}</div>

						</div></a>
						<md-divider></md-divider>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    