<div layout="row" layout-padding layout-margin layout-align="center center">
    <div layout="column" flex="25"  md-whiteframe="4dp">
        <h3>login</h3>
        <md-input-container>
            <label>email</label>
            <input type="email" data-ng-model="email" data-ng-required="true" autocomplete="off" />
        </md-input-container>
        <md-input-container>
            <label>password</label>
            <input type="password" data-ng-model="password" data-ng-required="true" autocomplete="off" />
        </md-input-container>
        <md-button class="md-raised md-warn" data-ng-click="login()">Login</md-button>
    </div>
</div>
