<div layout="row" flex="100" layout-align="center center">
    <h2>Place New Order</h2>
</div>

<div layout="row" class="new-order-buyer-container" md-whiteframe="4dp" layout-wrap>
    <div layout="row" flex="100" style="margin-top:1em;">
        <div layout="column" flex="10">
            <md-input-container>
                <label>Buyer ID</label>
                <input type="number" data-ng-model="input.buyerID" min=1 data-ng-disabled="input.disableBuyerID" />
            </md-input-container>
            <md-button class="md-raised md-warn" data-ng-click="searchBuyer()" data-ng-disabled="input.disableBuyerID">
                select
            </md-button>
        </div>
        <md-divider></md-divider>

        <div layout="row" data-ng-if="!selectedBuyer" layout-align="center center" flex="90">
            <h3>No Buyer Selected</h3>
        </div>

        <div layout="row" data-ng-if="selectedBuyer" flex="90" data-ng-include="'views/partials/new-order-buyer.html'"></div>

    </div>
</div>

<div id="productContainer" layout="row" layout-wrap>

</div>

<div layout="row" layout-align="center center" flex="100">
    <md-button class="md-raised md-warn" data-ng-click="addProduct()">Add Product</md-button>
</div>

<div layout="row" flex="100" layout-wrap layout-margin>
    <div layout="row" flex="100" layout-align="center center">
        <span class="bold large-font">Summary</span>
    </div>
    <div layout="row" layout-align="center center" flex="100">
        <div layout="row" layout-padding layout-wrap flex="25" md-whiteframe="2dp" layout-margin class="large-font">
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Total Merchants</span>
                <span flex="50" class="bold">{{totals.merchants}}</span>
            </div>
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Total Products</span>
                <span flex="50" class="bold">{{totals.products}}</span>
            </div>
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Total Pieces</span>
                <span flex="50" class="bold">{{totals.pieces}}</span>
            </div>
        </div>

        <div flex="25" layout="row" layout-padding layout-margin layout-wrap md-whiteframe="2dp" class="large-font">
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Sub-Total</span>
                <span flex="50" class="bold">{{costs.subTotal}}</span>
            </div>
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Shipping Cost</span>
                <span flex="50" class="bold">{{costs.shippingCost}}</span>
            </div>
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">COD Cost</span>
                <span flex="50" class="bold">{{costs.COD}}</span>
            </div>
            <div layout="row" flex="100">
                <span flex="50" class="small-font secondary-text-color">Total</span>
                <span flex="50" class="bold">{{costs.total}}</span>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-margin layout-align="center center" flex="100">
    <md-button class="md-raised md-primary" data-ng-click="placeOrder()">Place Order</md-button>
</div>
