<div layout="row" layout-align="center start" flex="100">
    <h3>Seller Payments</h3>
</div>

<div layout="row" layout-wrap layout-align="space-around start">
    <div layout="column" flex="45" md-whiteframe="4dp" data-ng-repeat="p in payments" layout-padding>
        <div layout="row" layout-wrap flex>
    
            <div layout="row" flex="50"  layout-align="start center">
                <a class="link" data-ng-href="orders/{{p.suborderID}}" target="_blank">
                    <sub-header>Sub-Order No.&nbsp;: </sub-header>
                    <span>{{p.suborder_display_number}}</span>
                </a>
            </div>  
            <!--     
            <div layout="row">
                <label>Payment Date&nbsp;:&nbsp;</label>
                <span>{{p.created_at | date}}</span>
            </div> -->
                <div layout="row" flex="45"></div>
                 <div layout="row" flex="5"  layout-align="start center">
                    <a class="link" data-ng-href="payments/seller-payment/{{p.sellerpaymentID}}" target="_blank"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#FF5722" d="M4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H16L12,22L8,18H4A2,2 0 0,1 2,16V4A2,2 0 0,1 4,2M18,14V12H12.5L10.5,14H18M6,14H8.5L15.35,7.12C15.55,6.93 15.55,6.61 15.35,6.41L13.59,4.65C13.39,4.45 13.07,4.45 12.88,4.65L6,11.53V14Z" />
                    </svg><md-tooltip md-direction="top">view more</md-tooltip></a>
            </div>
           
           
           </div> 
          
        <div layout="row" class="small-font payment" flex layout-align="start start">
        
            <div layout="column" layout-align="center center" flex="25">
                <label>Merchant Name</label>
                <a class="link" href="users/sellers/{{p.seller.sellerID}}" target="_blank">
                <svg style="width:13.5px;height:13.5px" viewBox="0 0 20 20">
                        <path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                <span>{{p.seller.name}}</span></a>
                <span>({{p.seller.company_name}})</span>
               
            </div>
           
            <div layout="column" layout-align="center center" flex="25">
                <label>Date of Payment</label>
                <span>{{p.payment_time | date}}</span>
            </div>
            
            <div layout="column" layout-align="center center" flex="25">
                <label>Payment Value</label>
                <span>Rs. {{p.payment_value}}</span>
            </div>
            
            <div layout="column" layout-align="center center" flex="25">
                <label>Status</label>
                <span>{{p.seller_payment_status.display_value}}</span>
            </div>
           
          </div>  
        <div layout="row" flex class="small-font payment">
            <label>Details :</label>
            <span>{{p.details}}</span>
        </div>
    </div>
</div>
