<div layout="row" layout-align="center start" flex="100">
    <h2>Seller Leads</h2>
</div>
<div layout="row" layout-wrap layout-align="center start">
    <span><span class="bold small-font">Total seller Leads:</span> {{data.seller_leads.length}}</span>
</div>
<div layout="row" layout-wrap layout-margin layout-align="space-around start">
    <div  flex="45" md-whiteframe="4dp" data-ng-repeat="sl in data.seller_leads" style="padding:8px">
        <div layout="row" layout-align="start center" layout-padding>
            <span style="margin-right:5px">{{sl.sellerleadID}}</span>
            <span class="bold">{{sl.company_name}}</span>
            <span flex></span>
            <!-- <md-button class="md-warn" data-ng-href="users/sellers/{{s.sellerID}}">view</md-button> -->
            <a data-ng-href="seller-leads/{{sl.sellerleadID}}">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#FF5722" d="M4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H16L12,22L8,18H4A2,2 0 0,1 2,16V4A2,2 0 0,1 4,2M18,14V12H12.5L10.5,14H18M6,14H8.5L15.35,7.12C15.55,6.93 15.55,6.61 15.35,6.41L13.59,4.65C13.39,4.45 13.07,4.45 12.88,4.65L6,11.53V14Z" />
                </svg>
                <md-tooltip md-direction="top">view more</md-tooltip>
            </a>
        </div>
        <div layout="row" layout-align="start center" class="small-font">
            Email:<span class="word-wrap bold" flex="40">{{sl.email}}</span>
            
            Mobile No.:<span class="bold">{{sl.mobile_number}}</span>
            <span flex></span>

            
                Status : <span class="bold">{{sl.status}}</span>
          
        </div>
    </div>
</div>
